:root{
    /* Colores */
    --sombra-global:  5px 10px 20px 2px rgba(230, 36, 36, 0.273) !important;
    --background-header:rgba(245, 15, 158, 0.2901960784) !important;
    --background-header-responsive:#f5a7c1 !important;
    --color-secundario: white !important;
    --sombra-global: 5px 10px 20px 2px rgb(230 36 36 / 27%) !important;
}

